<form name="post-form-edit" action="/posts/<%= id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">

  <input type="text" id="post-title" name="post[title]" 
    placeholder="Enter a title..." value="<%= title %>">
  <input type="text" id="post-subtitle" name="post[subtitle]"
    placeholder="Enter a subtitle" value="<%= subtitle %>">

  <label for="collection">Choose a collection</label>
  <select id="collection" name="post[collection_id]">
    <option value="">No Collection</option>
  </select><br>

  <textarea 
    rows="50" cols="100" id="post-body"
    name="post[body]" placeholder="Content goes here." value="hello.">
    <%= body %>
  </textarea>
  <br>

  <button id="draft">Save as Draft.</button>
  <button id="publish">Publish post.</button>
</form>