// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  height: 100%;
  margin: 0px;
}

// #user-nav{
//   float: left;
// }

h1 {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

input, textarea {
  border: none;
}

input:focus, textarea:focus {
  outline: none;
}



.title, {
  font-size: 4em;
}

.subtitle {
  font-size: 2em;
}

.content {

}